
* {
    --c-surface: #101010;
    --c-elevated: #191919;
    --c-elevated-x2: #202020;
    --c-elevated-x4: #323232;
    
    --c-elevated-mixed: #19201a;
    --c-elevated-x2-mixed: #202620;
    --c-elevated-x4-mixed: #303630;
    
    --c-primary: #1b5e20;
    --c-primary-dark: #003300;
    --c-primary-light: #4c8c4a;
    
    --c-primary-25: #1b5e203f;
    --c-primary-dark-25: #0033003f;
    
    --c-primary2: #a5d6a7;
    --c-primary2-dark: #75a478;
    --c-primary2-light: #d7ffd9;
    
    --c-text: #ffffff;
    --c-text-soft: #e4e4e4;
    --c-text-bleak: #b7b7b7;
    --c-text-bleaker: #a7a7a7;
    
    --c-text-accent-light: var(--c-primary2);
    --c-text-accent: var(--c-primary2-dark);
}


.bg-dark {
    background-color: var(--c-surface) !important;
}

.bg-white {
    background-color: var(--c-elevated) !important;
}

#page,
#nav-drawer,
.message-app {
    background-color: var(--c-surface) !important;
    color: var(--c-text-soft) !important;
}

#region-main,
.card,
#intro {
    background-color: var(--c-elevated) !important;
    color: var(--c-tex-soft);
}

#intro {
    border-color: var(--c-primary);
}

.text-primary {
    color: var(--c-primary) !important;
}

.block_myoverview, .list-group .list-group-item {
    color: var(--c-text-soft);
    background-color: var(--c-elevated) !important;
    border-color: transparent;
}

.list-group .list-group-item.active {
    background-color: var(--c-primary-dark) !important;
}

.list-group .list-group-item:hover {
    color: var(--c-text-accent) !important;
}

/* хэдер, ещё чё-то */
nav.navbar,
.navbar-brand {
    background-color: var(--c-primary-dark) !important;
}

.navbar {
    padding-left: 1rem;
}

/* список курсов */
#nav-drawer .list-group-item {
    overflow: hidden;
    /* фиксим вылезающий текст */
}

#nav-drawer .list-group-item .media-left {
    color: var(--c-text-accent);
}


/* дропдауны и кнопки */
div > button.btn-outline-secondary,
div > button.dropdown-toggle {
    background-color: var(--c-elevated-x4) !important;
    color: var(--c-text);
    border-color: transparent;
}

.dropdown-menu {
    background-color: var(--c-elevated-x4) !important;
}

.dropdown-item {
    color: var(--c-text) !important;
}

.dropdown-item:hover {
    background-color: var(--c-primary-light) !important;
    color: var(--c-text) !important;
}

.dropdown-item.active, .dropdown-item:focus {
    background-color: var(--c-primary) !important;
}

div > button.btn-outline-secondary:hover,
div > button.dropdown-toggle:hover {
    background-color: var(--c-primary-dark) !important;
    border-color: transparent;
}

.btn {
    color: var(--c-text);
}
.btn:hover {
    color: var(--c-text-accent);
}

.btn-light {
    background-color: var(--c-primary-dark) !important;
    border-color: transparent;
}
.btn-light:hover {
    border-color: transparent;
}
a.bg-gray:hover, button.bg-gray:hover, a.bg-gray:focus, button.bg-gray:focus {
    background-color: var(--c-primary) !important;
}
.navbar-light.bg-dark .dropdown-item:hover, .navbar-light.bg-dark .dropdown-item:focus, [data-region="drawer"] nav .list-group-item-action:hover, [data-region="drawer"] nav .list-group-item-action:focus {
    color: var(--c-text-accent);
}

#prev-activity-link,
#next-activity-link,
#back-to-top,
.btn-primary {
    background-color: var(--c-primary-dark);
    color: var(--c-text);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: var(--c-primary);
}

.btn-secondary {
    background-color: var(--c-elevated-x4);
    color: var(--c-text);
    border-color: transparent;
}

.btn-secondary:hover, .btn-default:hover {
    background-color: var(--c-primary);
    border-color: transparent;
    color: var(--c-text);
}


/* ссылки */
a,
.page-link,
.btn-link {
    color: var(--c-text-);
}

.content a {
    color: var(--c-text-accent);
}

a:hover,
.page-link:hover,
.btn-link:hover {
    color: var(--c-text-accent);
}
.list-group-item-action {
    color: var(--c-text);
}
.list-group-item-action:hover, .list-group-item-action:focus {
    color: var(--c-text-accent);
    text-decoration: underline;
    background-color: transparent;
}

/* секции на странице курса */
.course-content ul.topics li.section.main, .course-content ul.weeks li.section.main, .course-content ul.periods li.section.main {
    border-bottom: 1px solid var(--c-primary);
}

.table, table.collection, table.flexible, .generaltable {
    color: unset;
}
.table th, table.collection th, table.flexible th, .generaltable th, .table td, table.collection td, table.flexible td, .generaltable td {
    border-color: var(--c-primary);
}

/* мессаги */
.message-app {
    border-left: 1px solid var(--c-text-soft);
}
/* сворачивалки групп сообщений */
.message-app .view-overview-body .card-header {
    background-color: var(--c-elevated-x2);
}

/* дата в сообщениях */
.message-app .day {
    color: var(--c-text);
    font-weight: 600;
}

/* звёздочка */
span[data-region="favourite-icon-container"] {
    color: var(--c-primary) !important;
}

/* исходящие сообщения */
.message-app .message.send {
    background-color: var(--c-elevated-x2-mixed);
    color: var(--c-text-soft);
}
.message-app .message.send .tail {
    border-bottom-color: var(--c-elevated-x2-mixed);
}
.message-app .message.send .time {
    color: var(--c-text-soft);
}

/* входящие сообщения */
.message-app .message.received {
    background-color: var(--c-elevated-x2);
    color: var(--c-text-soft);
}
.message-app .message.received .tail {
    border-bottom-color: var(--c-elevated-x2);
}
.message-app .message.received .time {
    color: var(--c-text-soft);
}

/* notifications */
.popover-region-container, .popover-region-footer-container {
    background-color: var(--c-elevated-x2);
    border-color: transparent;
    color: var(--c-text);
}
.popover-region-toggle::after {
    border-bottom-color: transparent;
}

/* прочие формы */
.form-control {
    background-color: var(--c-elevated-x4) !important;
    color: var(--c-text);
    border-color: var(--c-primary);
}
.form-control:focus {
    background-color: var(--c-elevated-x4);
    color: var(--c-text);
    border-color: var(--c-primary);
    box-shadow: 0 0 0 .2rem var(--c-primary-25);
}
.form-control::placeholder {
    color: var(--c-text-bleak);
}

.input-group-prepend .input-group-text {
    background-color: var(--c-elevated-x4);
    color: var(--c-text);
    border-color: var(--c-primary);
}

/* радио */
.custom-control-input:checked ~ .custom-control-label::before {
    color: var(--c-elevated-x4);
    border-color: var(--c-primary);
    background-color: var(--c-primary);
}

/* чекбоксы (переключатели) */
body:not(.behat-site) .switch input:checked + label::before {
    background-color: var(--c-primary-dark);
}
body:not(.behat-site) .switch input:checked + label::after {
    background-color: var(--c-primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--c-primary);
}

/* чекбоксы (системные) */
input[type=checkbox] {
    background-color: var(--c-elevated-x4);
    color: var(--c-primary);
}

/* мамочки */
.block .block-cards .btn.btn-link.btn-icon:hover, .block .block-cards #page-grade-grading-manage .actions .btn-link.btn-icon.action:hover, .block .block-cards #page-grade-grading-manage .actions .btn-icon.action.btn:hover, .block .block-cards #page-grade-grading-manage .actions #page-grade-grading-manage .actions .btn-icon.action:hover, #page-grade-grading-manage .actions .block .block-cards #page-grade-grading-manage .actions .btn-icon.action:hover, #page-grade-grading-manage .actions .block .block-cards .btn-link.btn-icon.action:hover, .block .block-cards .btn.btn-icon:hover, .block .block-cards #page-grade-grading-manage .actions .btn-icon.action:hover, #page-grade-grading-manage .actions .block .block-cards .btn-icon.action:hover, .block .block-cards .btn.btn-link.btn-icon:focus, .block .block-cards #page-grade-grading-manage .actions .btn-link.btn-icon.action:focus, .block .block-cards #page-grade-grading-manage .actions .btn-icon.action.btn:focus, .block .block-cards #page-grade-grading-manage .actions #page-grade-grading-manage .actions .btn-icon.action:focus, #page-grade-grading-manage .actions .block .block-cards #page-grade-grading-manage .actions .btn-icon.action:focus, #page-grade-grading-manage .actions .block .block-cards .btn-link.btn-icon.action:focus, .block .block-cards .btn.btn-icon:focus, .block .block-cards #page-grade-grading-manage .actions .btn-icon.action:focus, #page-grade-grading-manage .actions .block .block-cards .btn-icon.action:focus {
    background-color: var(--c-elevated-x4);
}

/* календарь */
.calendar_event_course {
    background-color: var(--c-primary-dark);
}

.popover {
    background-color: var(--c-elevated-x2);
    color: var(--c-text-soft);
}
.bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^="top"] > .arrow::after {
    border-top-color: var(--c-elevated-x2);
}
.popover-header {
    background-color: var(--c-elevated-x2);
    border-bottom-color: var(--c-primary);
}
.popover-body {
    color: var(--c-text-soft);
}


/* модалки */
.modal-content, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
    background-color: var(--c-elevated-x2);
}


/* тест (ревью) */
table.quizreviewsummary th.cell {
    background: var(--c-elevated-x2);
}
table.quizreviewsummary td.cell {
    background: var(--c-elevated-x2);
}
.table-hover tbody tr:hover, table.grading-report tbody tr:hover, .forumheaderlist tbody tr:hover, .generaltable tbody tr:hover, table.flexible tbody tr:hover, .category_subcategories tbody tr:hover, table#modules tbody tr:hover, table#permissions tbody tr:hover {
    color: var(--c-text);
}
.que .info {
    background-color: unset;
}
.alert-info, #page-admin-index .releasenoteslink, #adminsettings .form-overridden, .que .formulation, .assignfeedback_editpdf_widget .label {
    background-color: var(--c-elevated-x2-mixed);
    color: var(--c-text);
}
.alert-warning, #page-admin-index .adminwarning, .uninstalldeleteconfirmexternal, .que .outcome, .que .comment {
    background-color: var(--c-elevated-x2);
    color: var(--c-text-soft);
}
.path-mod-quiz #mod_quiz_navblock .qnbutton {
    background-color: var(--c-elevated-x2) !important;
}

/* посещаемость */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: var(--c-text-soft);
    background-color: var(--c-primary);
    border-color: transparent transparent #fff;
}
.nav-tabs .nav-link:not(.active):hover, .nav-tabs .nav-link:focus {
    border-color: transparent transparent #fff;
    background-color: var(--c-elevated-x2-mixed);
}

.custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%23f0f0f0\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    background-color: var(--c-elevated-x4);
    color: var(--c-text-soft);
}
.custom-select:focus {
    border-color: var(--c-primary);
    box-shadow: 0 0 0 .2rem var(--c-primary-25)
}

/* форумы */
/* видосы не на всю страницу плз */
.mediaplugin, .mediaplugin video {
    max-width: 50vw;
}
.post-content-container {
    color: var(--c-text);
}
div[data-region-content="forum-post-core"] .mb-3 {
    color: var(--c-text-bleaker);
}
div[data-region-content="forum-post-core"] img.rounded-circle {
    filter: brightness(70%);
}